Algorithm/myenv
Algorithm/myenv/*
Algorithm/.venv/*
.vscode
Algorithm2/myenv
Algorithm2/myenv/*
Algorithm2/.venv/*
.vscode
resume_analyzer/myenv
resume_analyzer/myenv/*
resume_analyzer/venv
resume_analyzer/backups